body{font-size:16px;
	font-family: arial;
}

header{
	margin: 0;
	padding:2rem 0;
	text-align: center;
}

h1{
	margin: 0;
	font-size: 1.5rem;
}
section{
	margin: auto;
	width: 75%;
	background-color: #FFF;
	border:black 1px solid;
}

section form{
	padding: 2rem;

}
section form>div{
	width: 49.5%;
	margin: 0;
	padding: 0;
	display: inline-block;
}

section form>div:first-child{
	width: 100%;
}

section form >div >label;
section form >div >input{display: block;
}
section form > div > input{
	width: 95%;
}
form > div:first-child {
	margin: 0 0 30px 0;
}

body button{
	background-color:#80B8E2;
	border-style: none;
	border-radius: 4px;
	color:#FFF;
	padding: 5px;
	
}
